*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(../background.jpg);
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image horizontally and vertically */
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
}
.card{
    width: 90%;
    max-width: 440px;
    color: #000;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(241, 218, 6, 0.2);
    border-radius: 16px;
}
.card img{
    width: 140px;
    border-radius: 50%;
}
.card .links{
    width: 30px;
    margin: 10px ;
}
.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #000;
    color: #868686;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
    cursor: pointer;
}

/* Example text colors, you can adjust them as needed */
.normal-text {
    color: #333; /* Dark gray for Normal type */
}

.fire-text {
    color: #FF6C6C; /* Red for Fire type */
}

.water-text {
    color: #6493EB; /* Blue for Water type */
}

.grass-text {
    color: #7AC74C; /* Green for Grass type */
}

.electric-text {
    color: #F7D02C; /* Yellow for Electric type */
}

.ice-text {
    color: #96D9D6; /* Light blue for Ice type */
}

.fighting-text {
    color: #C22E28; /* Dark red for Fighting type */
}

.poison-text {
    color: #A33EA1; /* Purple for Poison type */
}

.ground-text {
    color: #E2BF65; /* Brown for Ground type */
}

.flying-text {
    color: #A98FF3; /* Light purple for Flying type */
}

.psychic-text {
    color: #F95587; /* Pink for Psychic type */
}

.bug-text {
    color: #A6B91A; /* Green for Bug type */
}

.rock-text {
    color: #B6A136; /* Brown for Rock type */
}

.ghost-text {
    color: #735797; /* Dark purple for Ghost type */
}

.dark-text {
    color: #705746; /* Dark brown for Dark type */
}

.steel-text {
    color: #B7B7CE; /* Light gray for Steel type */
}

.fairy-text {
    color: #D685AD; /* Pinkish for Fairy type */
}

.dragon-text {
    color: #6F35FC; /* Purple for Dragon type */
}

