/* Pokémon-themed table styles */
.pokemon-table {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color for better readability */
    border-collapse: collapse;
    width: 100%;
}

.pokemon-table th, .pokemon-table td {
    border: 2px solid #f2f2f2;
    padding: 8px;
    text-align: center;
}

.pokemon-table th {
    background-color: #ffcc00;
    color: #333;
}

.pokemon-table td {
    background-color: #f2f2f2;
}

/* Pokémon-themed body background */
body {
    background-image: url('../image/bg-pokemon.jpg'); /* Replace with your Pokémon-themed image */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* Reset margin to remove default body margin */
}

/* Position the card to the left with a margin of 20px */
.card-container {
    margin-top: 100px;
}